@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Londrina+Outline&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

body .sub-head h3 {
    font-weight: 500;
    font-size: 140%;
    margin-bottom: 20px;
}

body p {
    margin-top: 20px;
    font-weight: 250;
    padding-right: 50px;
    line-height: 160%;
}

body {
    font-family: "Outfit", sans-serif;
}

nav {
    height: 80px;
    /* background-color: aliceblue; */
    width: 100%;
    position: relative;
}

label.logo {
    color: #585B66;
    font-family: "Caveat", cursive;
    font-size: 35px;
    text-transform: capitalize;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}

nav ul li a {
    font-size: 18px;
    color: #656770;
    text-transform: capitalize;
}

a.active,
a:hover {
    color: black;
    transition: 0.5s;
}

a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #585B66;
}

.btn {
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 18px;
    color: white;
    font-weight: 450;
    background-color: #585B66;
}

.btn:hover {
    color: white;
    transform: none;
}

.check-btn {
    font-size: 30px;
    color: #585B66;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.blur-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 110px;
    width: 150px;
    z-index: -1;
    /* Place it behind other nav elements */
    overflow: hidden;
}

.blur-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero {
    margin-top: 50px;
}

.hero-body {
    width: 100%;
    height: 31rem;
}

.hero-body .image {
    width: 40%;
    height: 512px;
    float: right;
}

.hero-body .contant {
    margin-top: 60px;
    width: 60%;
    height: 452px;
    float: left;
    padding-left: 55px;
}

.hero-body .head {
    font-size: xx-large;
}

.hero-body .discription p {
    margin-top: 20px;
    font-weight: 250;
    padding-right: 50px;
    line-height: 160%;
}

.hero-body img {
    height: 100%;
    width: 80%;
    object-fit: cover;
}

.container {

    margin-bottom: 0;
    padding-bottom: 0;
}

.features {
    width: 100%;
    height: 500px;
    padding-left: 50px;
    float: inline-start;
    /* background-color: gray; */
}

.card-body {
    float: left;
    margin-top: 10px;
    width: 50%;
    height: 200px;
}

.card-body .contant {
    width: 50%;
    height: 100%;
    float: left;
}

.card-body .contant h4 {
    margin-top: 15px;
    font-size: 120%;
}

.card-body .contant p {
    margin-top: 40px;
    font-weight: 230;
    line-height: 140%;
}

.card-body .image {
    width: 50%;
    float: left;
    height: 100%;
}

.card-body .image img {
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
}

.left-contant {
    float: inline-start !important;
}

.left-contant-img {
    float: inline-end !important;
}

.Unlock-Exclusive {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    float: left;
    margin-top: 10px;
    height: 850px;
    width: 90%;
    border-radius: 20px;
    background-image: linear-gradient(-90deg, #46494D, #8B9098);
}

.Unlock-Exclusive .sub-head {
    color: white;
    margin-top: 40px;
    margin-left: 20px;
}

.get-premium {
    float: left;
    margin-top: 20px;
    height: 700px;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #656770;

}

.get-premium .head-body {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-top: 30px;
}

.get-premium .head-body .image {
    float: left;
    height: 100%;
    width: 7%;
}

.get-premium .head {
    float: left;
    width: 23%;
    height: 100%;
    line-height: 70px;
}

.get-premium .head h3 {
    color: #FFBA54;
    text-align: start;
    font-size: 170%;
    font-weight: 150;
}

.get-premium .head-body {
    object-fit: cover;
}

.get-premium .discription {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.get-premium .contant {
    float: left;
    width: 40%;
    height: 100%;
}

.get-premium .contant p {
    color: white;
    font-weight: 450;
}

.get-premium .plans {
    width: 100%;
    height: 400px;
    margin-left: 110px;

}

.plans .essential,
.elite {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(#767786, #62636F);
}

.plans .elite {
    margin-left: 15px;
    text-align: center;
}

.plans .essential h4,
.elite h4 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 150%;
    font-weight: 400;
    color: white;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #727482
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    font-weight: 300;
    color: white;
}

#btn,
#btn2 {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #646672;
    border-width: 1.5px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    transition: .5s;
}

.plan-btn {
    border: none;
    padding: 12px 28px;
    border-radius: 20px;
    background-color: #DBB071;
    font-size: 110%;
    color: white;
    font-weight: 530;
}

.essential-annual,
.elite-annual {
    display: none;
}

.essential-annual del,
.elite-annual del {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 16px;
}

.footer {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    border: solid 2px #D9D9D9;
    margin-bottom: 1em;
}

.social-media,
.Explore,
.Support {
    width: 33.3%;
    height: 100%;
    float: left;
}

.social-media h1 {
    width: fit-content;
    margin: 35px;
    font-weight: 450;
}

.icons {
    width: 100%;
    height: 60px;
    margin: 30px;
}

.insta,
.facebook,
.twitter,
.discord {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0;
}

.insta img,
.facebook img,
.twitter img,
.discord img {
    object-fit: cover;
}

.Explore,
.Support {
    text-align: center;
}

.Explore p:hover,
.Explore p:focus,
.Support p:hover,
.Support p:focus {
    text-decoration: underline;
    text-decoration-color: #8B9098;
}

.Explore .head,
.Support .head {
    margin-top: 45px;
    font-weight: 400;
    text-decoration: none;
}

.rights {
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.about-hero {
    width: 90%;
    height: 340px;
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
}

.about-img {
    float: left;
    height: 100%;
    width: 40%;
}

.about-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.about-contant {
    float: left;
    height: 100%;
    width: 60%;
}

.about-contant {
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.about-contant h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
}

.about-contant p {
    padding-right: 0;
    margin-top: 2rem;
    line-height: 200%;
}

.goals {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    height: 154px;
}

.mission,
.vision {
    float: left;
    width: 50%;
    height: 100%;
}

.about-subhead {
    font-size: 133%;
    font-weight: 550;
}

.mission p,
.vision p {
    width: 32rem;
    text-transform: capitalize;
}

.team {
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    height: 805px;
}

.team .card {
    margin-top: 1.5rem;
    margin-right: 7rem;
    float: left;
    width: 23%;
    height: 363px;
    background-color: white;
    outline: 1px solid #656770;
    border-radius: 1rem;
}

.card .image {
    margin-top: 1rem;
    margin-left: 31%;
    height: 35%;
    width: 33%;
    float: left;
    /* background-color: blue; */
    border-radius: 50%;
}

.card .contant {
    padding: 0;
    margin-top: 1rem;
    float: left;
    width: 100%;
    height: 167px;
}

.team-name {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 450;
}

.about-hero .contant p {
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    margin-left: 1.6rem;
}

.students {
    float: left;
    width: 100%;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.students .contant,
.students .image {
    float: left;
    width: 50%;
    height: 100%;
}

.students .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-students {
    font-size: 1.8rem;
    font-weight: 480;
}

.students .contant .about-students {
    padding-top: 6rem;
}

.students .contant .discription {
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 32rem;
}

.students .contant button {
    margin-left: 1.3rem;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #49536B;
    color: white;
    font-size: 1rem;
    font-weight: 550;
}

.partners {
    float: left;
    height: 200px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.partners .partner-logo {
    float: left;
    width: 100%;
    height: 160px;
    margin-top: 1rem;
}

.partners .partner-logo .logo {
    margin-top: 1rem;
    float: left;
    width: 25%;
    height: 100%;
}

.partners .partner-logo .logo img {
    object-fit: cover;
    height: 100%;
    width: 60%;
}

.contact-body {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
}

.contact-hero {
    margin-top: 3rem;
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
}

.contact-hero .contact-image,
.contact-hero .contact-contant {
    float: left;
    width: 50%;
    height: 100%;
}

.contact-hero .contact-image img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.contact-hero .contact-contant h3 {
    font-size: 2rem;
    margin-top: 4rem;
    font-weight: 550;
}

.contact-hero .contact-contant p {
    width: 28rem;
    margin-top: 4rem;
    line-height: 2rem;
}

.contact-form-body {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 60%;
    height: 550px;
    margin-left: 20%;
    margin-right: 20%;
}

.contact-form-body h3 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 550;
    text-align: center;
}

.contact-form-body .form {
    margin-top: 2rem;
    width: 70%;
    height: 400px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
}

.contact-form-body .form input {
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #AFABAB;
    padding-left: 1rem;
}

.label {
    font-size: 1.3rem;
    font-weight: 550;
}

.btn-contact {
    background-color: #4163DD;
    color: white;
    font-size: 1.2rem;
    font-weight: 550;
}

.contact-footer {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 60px;
    border: solid 2px #D9D9D9;
    margin-bottom: 1em;
}

.course-body {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
}

.course-body .search {
    margin-top: 2rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.course-body .search input {
    width: 40%;
    border-radius: 1.3rem;
    border: 1px solid #656770;
    padding-left: 2rem;
    font-size: 1rem;
}

.popular-courses,
.new-arrivals {
    float: left;
    margin-top: 3rem;
    width: 100%;
    height: fit-content;
}

.course-card {
    float: left;
    margin-top: 4rem;
    width: 23%;
    margin-right: 2%;
    height: 300px;
    border-radius: 1rem;
    border: 1px solid #656770;
    margin-bottom: 1rem;
}

.course-card .image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    float: left;
    width: 100%;
    height: 45%;
}

.course-card .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.course-card .contant {
    float: left;
    width: 100%;
    height: 55%;
}

.course-card .contant h4 {
    margin-top: 1rem;
    padding-left: 1rem;
}

.course-card .contant p {
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    padding-left: 1rem;
    font-weight: 550;
}


.rating {
    direction: rtl;
    /* Right to left direction for proper star order */
    unicode-bidi: bidi-override;
    display: inline-block;
}

.star {
    font-size: 25px;
    /* Size of the stars */
    position: relative;
    cursor: pointer;
    color: lightgray;
    /* Default color (unselected stars) */
}

.star.full {
    color: gold;
    /* Full star color */
}

.star.half::before {
    content: "\2605";
    /* Star symbol */
    color: gold;
    /* Half star color */
    position: absolute;
    left: 0;
    width: 50%;
    /* Half-width */
    overflow: hidden;
    /* Hide the rest */
}

.star.quarter::before {
    content: "\2605";
    /* Star symbol */
    color: gold;
    /* Quarter star color */
    position: absolute;
    left: 0;
    width: 25%;
    /* Quarter-width */
    overflow: hidden;
    /* Hide the rest */
}

.star.empty::before {

    color: lightgray;
    /* Empty star color */
}

.review {
    color: #656770;
    font-weight: 400;
}

.discount {
    margin-top: 1.5rem;
}

.discount span {
    font-weight: 400;
    font-size: .8rem;
    color: #656770;
    text-decoration: line-through;
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {


    #hero {
        margin-top: 50px;
    }

    .hero-body {
        width: 100%;
        height: 28rem;
    }

    .hero-body .image {
        width: 45%;
        height: 24rem;
        float: right;
    }

    .hero-body .contant {
        margin-top: 2rem;
        width: 33rem;
        height: 26rem;
        float: left;
        padding-left: 2rem;
    }

    .hero-body .head {
        font-size: 1.4rem;
    }

    .hero-body .discription p {
        font-size: 100%;
        margin-top: 20px;
        font-weight: 250;
        padding-right: 50px;
        line-height: 160%;
    }

    .hero-body img {
        height: 108%;
        width: 88%;
        object-fit: cover;
    }

    .container {

        margin-bottom: 0;
        padding-bottom: 0;
    }

    .features {
        width: 100%;
        height: 500px;
        padding-left: 50px;
        float: inline-start;
        /* background-color: gray; */
    }

    .card-body {
        float: left;
        margin-top: 10px;
        width: 50%;
        height: 200px;
        margin-bottom: 21px;
    }

    .card-body .contant {
        width: 50%;
        height: 100%;
        float: left;
    }

    .card-body .contant h4 {
        margin-top: 15px;
        font-size: 120%;
    }

    .card-body .contant p {
        margin-top: 14px;
        font-weight: 230;
        line-height: 140%;
        font-size: 88%;
    }

    .card-body .image {
        width: 50%;
        float: left;
        height: 100%;
    }

    .card-body .image img {
        object-fit: cover;
        height: 100%;
        width: 95%;
        border-radius: 20px;
    }

    .left-contant {
        float: inline-start !important;
    }

    .left-contant-img {
        float: inline-end !important;
    }

    .Unlock-Exclusive {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 20px;
        float: left;
        margin-top: 10px;
        height: 850px;
        width: 90%;
        border-radius: 20px;
        background-image: linear-gradient(-90deg, #46494D, #8B9098);
    }

    .Unlock-Exclusive .sub-head {
        color: white;
        margin-top: 40px;
        margin-left: 20px;
    }

    .get-premium {
        float: left;
        margin-top: 20px;
        height: 700px;
        border-radius: 20px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #656770;

    }

    .get-premium .head-body {
        display: flex;
        justify-content: center;
        height: 70px;
        width: 100%;
        margin-top: 30px;
    }

    .get-premium .head-body .image {
        float: left;
        height: 100%;
        width: 7%;
    }

    .get-premium .head {
        float: left;
        width: 23%;
        height: 100%;
        line-height: 70px;
    }

    .get-premium .head h3 {
        color: #FFBA54;
        text-align: start;
        font-size: 170%;
        font-weight: 150;
    }

    .get-premium .head-body {
        object-fit: cover;
    }

    .get-premium .discription {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .get-premium .contant {
        float: left;
        width: 40%;
        height: 100%;
    }

    .get-premium .contant p {
        color: white;
        font-weight: 450;
    }

    .get-premium .plans {
        width: 100%;
        height: 400px;
        margin-left: 110px;

    }

    .plans .essential,
    .elite {
        float: left;
        width: 40%;
        height: 100%;
        text-align: center;
        background-image: linear-gradient(#767786, #62636F);
    }

    .plans .elite {
        margin-left: 15px;
        text-align: center;
    }

    .plans .essential h4,
    .elite h4 {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 150%;
        font-weight: 400;
        color: white;
    }

    .button-box {
        width: 220px;
        margin: 35px auto;
        position: relative;
        border-radius: 30px;
        background: #727482
    }

    .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        text-align: center;
        font-weight: 300;
        color: white;
    }

    #btn,
    #btn2 {
        left: 0;
        top: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: #646672;
        border-width: 1.5px;
        border-color: white;
        border-style: solid;
        border-radius: 30px;
        transition: .5s;
    }

    .plan-btn {
        border: none;
        padding: 12px 28px;
        border-radius: 20px;
        background-color: #DBB071;
        font-size: 110%;
        color: white;
        font-weight: 530;
    }

    .essential-annual,
    .elite-annual {
        display: none;
    }

    .essential-annual del,
    .elite-annual del {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 16px;
    }

    .footer {
        float: left;
        width: 100%;
        height: 300px;
        margin-top: 100px;
        border: solid 2px #D9D9D9;
        margin-bottom: 1em;
    }

    .social-media,
    .Explore,
    .Support {
        width: 33.3%;
        height: 100%;
        float: left;
    }

    .social-media h1 {
        width: fit-content;
        margin: 35px;
        font-weight: 450;
    }

    .icons {
        width: 100%;
        height: 60px;
        margin: 30px;
    }

    .insta,
    .facebook,
    .twitter,
    .discord {
        width: 20%;
        height: 100%;
        float: left;
        margin: 0;
    }

    .insta img,
    .facebook img,
    .twitter img,
    .discord img {
        object-fit: cover;
    }

    .Explore,
    .Support {
        text-align: center;
    }

    .Explore p:hover,
    .Explore p:focus,
    .Support p:hover,
    .Support p:focus {
        text-decoration: underline;
        text-decoration-color: #8B9098;
    }

    .Explore .head,
    .Support .head {
        margin-top: 45px;
        font-weight: 400;
        text-decoration: none;
    }

    .rights {
        text-transform: capitalize;
        text-align: center;
        margin: 0;
    }
}



@media screen and (max-width: 858px) {
    .sub-head {
        font-size: 74%;
        margin-top: 52px;
    }

    .check-btn {
        display: block;
    }

    .blur-img {
        display: none;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: lightgrey;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
    }
    .btn {
        font-size: 17px;
        padding: 10px 110px;
        border-radius: 1rem;
        color: white;
        font-weight: 450;
        background-color: #585B66;
    }

    nav ul li a {
        font-size: 20px;
    }
    a.active {
        text-decoration: none;
    }

    #check:checked~ul {
        left: 0;
    }
    nav {
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: #333;
    }

    label.logo {
        color: white;
        font-family: "Caveat", cursive;
        font-size: 35px;
        text-transform: capitalize;
        line-height: 80px;
        padding: 0 50px;
        font-weight: bold;
    }

    .check-btn {
        color: #fff;
    }
    #hero {
        margin-top: 7rem;
    }

}

/* Mobile Phones */
@media (max-width: 600px) {
    body .sub-head h3 {
        font-weight: 500;
        font-size: 140%;
        padding-top: 20px;
    }

    .hero-body h1 {
        font-size: 67%;
        line-height: 180%;
    }
    .hero-body .discription p {
        font-size: 96%;
        font-weight: 200;
        line-height: 170%;
    }

    .hero-body .image {
        width: 93%;
        height: 342px;
        float: none;
    }


    .hero-body img {
        margin-left: 50px;
    }

    .hero-body .contant {
        margin-top: -4px;
        width: 100%;
        height: 49%;
    }

    .card-body {
        width: 100%;
        height: 300px;
        margin-top: 2rem;
    }

    .card-body .contant {
        float: left;
        width: 100%;
        height: 39%;
    }

    .card-body .contant h4 {
        margin-top: 15px;
        font-size: 120%;
    }

    .card-body .contant p {
        margin-top: 10px;
        width: 80%;
        font-weight: 230;
        line-height: 140%;
    }

    .card-body .image {
        float: left;
        width: 100%;
        height: 50%;
    }

    .card-body .image img {
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
    }

    .card-p {
        font-size: 90%;
        font-weight: 200;
        line-height: 100%;
    }

    .Unlock-Exclusive {
        margin-top: 74rem;
        display: block;
        height: 1172px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background-image: linear-gradient(-90deg, #46494D, #8B9098);
    }

    .sub-head {
        margin-top: 16rem;
    }

    .Unlock-Exclusive .sub-head h3 {
        margin-top: -28px;
    }

    .get-premium {
        display: block;
        margin-top: 5px;
        height: 1076px;
        border-radius: 20px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #656770;

    }

    .get-premium .head-body {
        display: block;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        margin-top: 10px;
    }

    .get-premium .head-body .image {
        display: block;
        float: left;
        height: 100%;
        width: 18%;
    }

    .get-premium .head-body .image img {
        object-fit: cover;
        height: 100%;
    }

    .get-premium .head {
        display: block;
        float: left;
        width: 40%;
        height: 100%;
        line-height: 50px;
    }

    .get-premium .head h3 {
        display: block;
        color: #FFBA54;
        text-align: start;
        font-size: 120%;
        font-weight: 150;
    }

    .get-premium .discription {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .get-premium .contant {
        padding-left: 35px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .get-premium .contant p {
        font-size: 70%;
        color: white;
        font-weight: 450;
    }

    .get-premium .plans {
        margin: 0;
        padding: 0;
        height: 829px;
    }

    .plans .essential,
    .plans .elite {
        display: block;
        margin-top: 10px;
        width: 90%;
        height: 50%;
    }

    .plans .essential {
        margin-left: 15px;
    }

    .footer {
        width: 100%;
        height: 700px;
    }

    .social-media,
    .Explore,
    .Support {
        text-align: center;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .icons {
        width: 90%;
    }

    .insta img,
    .facebook img,
    .twitter img,
    .discord img {
        object-fit: cover;
    }

    .about-hero {
        width: 90%;
        height: 340px;
        margin-top: 7rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2rem;
    }

    .about-img {
        float: left;
        height: 100%;
        width: 100%;
    }

    .about-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .about-contant {
        float: left;
        height: 18rem;
        width: 100%;
    }

    .about-contant {
        padding-left: 0;
        margin-top: 1rem;
    }

    .about-contant h3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;
    }

    .about-contant p {
        padding-right: 0;
        margin-top: 1rem;
        line-height: 170%;
    }

    .mission,
    .vision {
        margin: 0;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
        float: left;
        width: 100%;
        height: 100%;
    }

    .mission p,
    .vision p {
        width: fit-content;
        text-transform: capitalize;
    }

    .team {
        margin-top: 17rem;
        margin-bottom: 2rem;
        float: left;
        width: 100%;
        height: fit-content;
    }

    .team .card {
        margin-left: 15%;
        margin-top: 1rem;
        float: left;
        width: 70%;
        height: 400px;
        background-color: white;
        outline: 1px solid #656770;
        border-radius: 1rem;
    }

    .students {
        float: left;
        width: 100%;
        height: 378px;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .students .image {
        display: none;
    }

    .students .contant {
        float: left;
        width: 100%;
        height: 100%;
    }

    .about-students {
        font-size: 1.5rem;
        font-weight: 480;
    }

    .students .contant .discription {
        text-transform: capitalize;
        font-size: 1rem;
        line-height: 2rem;
        width: fit-content;
    }

    .partners .partner-logo {
        float: left;
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }

    .partners {
        float: left;
        height: 200px;
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .partners .partner-logo .logo {
        margin-top: 1rem;
        float: left;
        width: 50%;
        height: 6rem;
    }

    .contact-hero .contact-image,
    .contact-hero .contact-contant {
        float: left;
        width: 100%;
        height: 100%;
    }

    .contact-hero .contact-contant p {
        width: 23rem;
        margin-top: 1rem;
        line-height: 1.8rem;
        font-size: .9rem;
    }

    .contact-form-body {
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 90%;
        height: 734px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .label {
        font-size: 1rem;
        font-weight: 550;
    }

    .btn-contact {
        background-color: #4163DD;
        color: white;
        font-size: 1rem;
        font-weight: 550;
    }

    .contact-form-body .form {
        margin-top: 2rem;
        width: 100%;
        height: 400px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .course-body .search input {
        width: 100%;
        border-radius: 1.3rem;
        border: 1px solid #656770;
        padding-left: 2rem;
        font-size: 1rem;
    }

    .course-card {
        float: left;
        margin-top: 4rem;
        width: 80%;
        margin-right: 12%;
        margin-left: 10%;
        height: 300px;
        border-radius: 1rem;
        border: 1px solid #656770;
        margin-bottom: 1rem;
    }
    .card .image {
        margin-top: 1rem;
        margin-left: 24%;
        height: 35%;
        width: 33%;
        float: left;
        /* background-color: blue; */
        border-radius: 50%;
    }
    
    .about-hero .contant .team-name {
        margin: 0;
        padding: 0;
        margin-top: 0;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 450;
    }
    
    .course-body .search {
        margin-top: 8rem;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .contact-hero {
        margin-top: 7rem;
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }

}

/* Tablets in Portrait */
@media (min-width: 601px) and (max-width: 768px) {
    body .sub-head h3 {
        font-weight: 500;
        font-size: 185%;
        padding-top: 20px;
    }

    .hero-body h1 {
        font-size: 92%;
        line-height: 180%;
    }

    .hero-body .discription p {
        font-size: 95%;
        font-weight: 200;
        line-height: 164%;
    }

    .hero-body img {
        height: 100%;
        width: 60%;
        object-fit: cover;
    }

    .hero-body .image {
        width: 93%;
        height: 342px;
        float: none;
    }


    .hero-body img {
        margin-left: 132px;
    }

    .hero-body .contant {
        margin-top: -4px;
        width: 100%;
        height: 49%;
    }

    .card-body {
        width: 100%;
        height: 185px;
    }

    .card-body .contant {
        float: left;
        width: 50%;
        height: 63%;
    }

    .card-body .contant h4 {
        margin-top: 15px;
        font-size: 120%;
    }

    .card-body .contant p {
        margin-top: 10px;
        width: 106%;
        font-weight: 230;
        line-height: 140%;
    }

    .card-body .image {
        margin-top: 9px;
        float: left;
        width: 40%;
        height: 50%;
    }

    .left-contant-img {
        float: inline-start !important;
    }

    .card-body .image img {
        object-fit: cover;
        height: 151px;
        width: 211px;
        border-radius: 20px;
    }

    .card-p {
        font-size: 90%;
        font-weight: 200;
        line-height: 100%;
    }

    .Unlock-Exclusive {
        margin-top: 450px;
        display: block;
        height: 1172px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background-image: linear-gradient(-90deg, #46494D, #8B9098);
    }

    .sub-head {
        margin-top: 75px;
    }

    .Unlock-Exclusive .sub-head h3 {
        margin-top: -28px;
    }

    .get-premium {
        display: block;
        margin-top: 5px;
        height: 1076px;
        border-radius: 20px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #656770;

    }

    .get-premium .head-body {
        display: block;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        margin-top: 10px;
    }

    .get-premium .head-body .image {
        display: block;
        float: left;
        height: 100%;
        width: 18%;
    }

    .get-premium .head-body .image img {
        margin-left: 28px;
        object-fit: cover;
        height: 100%;
    }

    .get-premium .head {
        display: block;
        float: left;
        width: 40%;
        height: 100%;
        line-height: 50px;
    }

    .get-premium .head h3 {
        display: block;
        color: #FFBA54;
        text-align: start;
        font-size: 140%;
        font-weight: 150;
    }

    .get-premium .discription {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .get-premium .contant {
        padding-left: 35px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .get-premium .contant p {
        font-size: 85%;
        color: white;
        font-weight: 450;
    }

    .get-premium .plans {
        margin: 0;
        padding: 0;
        height: 829px;
    }

    .plans .essential,
    .plans .elite {
        display: block;
        margin-top: 10px;
        width: 90%;
        height: 50%;
    }

    .plans .essential {
        margin-left: 15px;
    }

    .footer {
        width: 100%;
        height: 700px;
    }

    .social-media,
    .Explore,
    .Support {
        text-align: center;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .icons {
        width: 90%;
    }

    .insta img,
    .facebook img,
    .twitter img,
    .discord img {
        object-fit: cover;
    }

    .about-img {
        float: left;
        height: 100%;
        width: 100%;
    }

    .about-contant {
        padding-left: 0;
        margin-top: 1rem;
    }

    .about-contant {
        float: left;
        height: 100%;
        width: 100%;
    }

    .about-contant h3 {
        font-size: 2.2rem;
        font-weight: 550;
        line-height: 3rem;
    }

    .goals {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        float: left;
        width: 100%;
        height: 222px;
    }

    .mission p,
    .vision p {
        width: 100%;
        text-transform: capitalize;
    }

    .team {
        margin-bottom: 2rem;
        float: left;
        width: 100%;
        height: fit-content;
    }

    .team .card {
        margin-top: 1rem;
        margin-right: 1rem;
        float: left;
        width: 47%;
        height: 410px;
        background-color: white;
        outline: 1px solid #656770;
        border-radius: 1rem;
    }

    .students {
        float: left;
        width: 100%;
        height: 462px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-hero .contant p {
        margin: 0;
        padding: 0;
        margin-top: .5rem;
        margin-left: .7rem;
    }

    .students .contant .discription {
        text-transform: capitalize;
        font-size: .9rem;
        line-height: 2rem;
        width: 90%;
    }

    .image {
        float: left;
        width: 50%;
        height: 50%;
    }

    .students .image img {
        margin-top: 10rem;
        width: 100%;
        height: 49%;
        object-fit: cover;
    }

    .students .contant button {
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        background-color: #49536B;
        color: white;
        font-size: 1rem;
        font-weight: 550;
    }

    .partners {
        float: left;
        height: 134px;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .partners .partner-logo .logo img {
        object-fit: cover;
        height: 50%;
        width: 60%;
    }

}

/* Tablets in Landscape */
@media (min-width: 769px) and (max-width: 1024px) {
    body .sub-head h3 {
        font-weight: 500;
        font-size: 114%;
        padding-top: 3rem;
    }

    .hero-body h1 {
        font-size: 3rem;
        line-height: 180%;
    }

    .hero-body .discription p {
        font-size: 111%;
        font-weight: 200;
        line-height: 164%;
    }

    .hero-body img {
        height: 22rem;
        width: 23rem;
        object-fit: cover;
        position: absolute;
    }

    .hero-body .image {
        width: 93%;
        height: 342px;
        float: none;
    }


    .hero-body img {
        margin-left: 22rem;
    }

    .hero-body .contant {
        margin-top: -4px;
        width: 100%;
        height: 49%;
    }

    .card-body {
        width: 100%;
        height: 185px;
    }

    .card-body .contant {
        float: left;
        width: 50%;
        height: 63%;
    }

    .card-body .contant h4 {
        margin-top: 15px;
        font-size: 120%;
    }

    .card-body .contant p {
        margin-top: 10px;
        width: 71%;
        font-weight: 200;
        line-height: 191%;
    }

    .card-body .image {
        margin-top: 1rem;
        float: left;
        width: 25%;
        height: 83%;
    }

    .left-contant-img {
        float: inline-start !important;
    }

    .card-body .image img {
        object-fit: cover;
        height: 151px;
        width: 211px;
        border-radius: 20px;
    }

    .card-p {
        font-size: 90%;
        font-weight: 200;
        line-height: 100%;
    }

    .Unlock-Exclusive {
        margin-top: 509px;
        display: block;
        height: 1181px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background-image: linear-gradient(-90deg, #46494D, #8B9098);
    }

    .sub-head {
        margin-top: 75px;
    }

    .Unlock-Exclusive .sub-head h3 {
        margin-top: -70px;
    }

    .get-premium {
        display: block;
        margin-top: 5px;
        height: 1076px;
        border-radius: 20px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #656770;

    }

    .get-premium .head-body {
        display: block;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        margin-top: 10px;
    }

    .get-premium .head-body .image {
        display: block;
        float: left;
        height: 100%;
        width: 18%;
    }

    .get-premium .head-body .image img {
        margin-left: 28px;
        object-fit: cover;
        height: 100%;
    }

    .get-premium .head {
        display: block;
        float: left;
        width: 40%;
        height: 100%;
        line-height: 50px;
    }

    .get-premium .head h3 {
        display: block;
        color: #FFBA54;
        text-align: start;
        font-size: 140%;
        font-weight: 150;
    }

    .get-premium .discription {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .get-premium .contant {
        padding-left: 35px;
        text-align: center;
        width: 52%;
        height: 100%;
    }

    .get-premium .contant p {
        font-size: 85%;
        color: white;
        font-weight: 450;
    }

    .get-premium .plans {
        margin: 0;
        padding: 0;
        height: 829px;
    }

    .plans .essential,
    .plans .elite {
        display: block;
        margin-top: 10px;
        width: 90%;
        height: 50%;
    }

    .plans .essential {
        margin-left: 15px;
    }

    .footer {
        width: 100%;
        height: 700px;
    }

    .social-media,
    .Explore,
    .Support {
        text-align: center;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .icons {
        width: 90%;
    }

    .insta img,
    .facebook img,
    .twitter img,
    .discord img {
        object-fit: cover;
    }

    .about-img {
        float: left;
        height: 100%;
        width: 50%;
    }

    .about-contant {
        float: left;
        height: 100%;
        width: 50%;
    }

    .about-contant h3 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.7rem;
    }

    .about-contant p {
        padding-right: 0;
        margin-top: .8rem;
        line-height: 168%;
        font-size: .9rem;
    }

    .goals {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        float: left;
        width: 100%;
        height: 200px;
    }

    .mission,
    .vision {
        float: left;
        width: 50%;
        height: 100%;
    }

    .mission p,
    .vision p {
        width: 90%;
        text-transform: capitalize;
    }

    .team .card {
        margin-top: 1.5rem;
        margin-right: 2rem;
        float: left;
        width: 45%;
        height: 363px;
        background-color: white;
        outline: 1px solid #656770;
        border-radius: 1rem;
    }

    .students {
        float: left;
        width: 100%;
        height: 413px;
        margin-top: 24rem;
        margin-bottom: 2rem;
    }

    .students .contant .about-students {
        padding-top: 6rem;
        font-size: 1.5rem;
    }

    .contant p {
        margin: 0;
        padding: 0;
        margin-top: .5rem;
        margin-left: 0;
    }

    .students .contant .discription {
        text-transform: capitalize;
        font-size: 1rem;
        line-height: 2rem;
        width: 90%;
    }

    .students .image img {
        margin-top: 3rem;
        width: 100%;
        height: 71%;
        object-fit: cover;
    }

    .partners .partner-logo .logo img {
        object-fit: cover;
        height: 100%;
        width: 86%;
    }

    .course-body .search input {
        width: 70%;
        border-radius: 1.3rem;
        border: 1px solid #656770;
        padding-left: 2rem;
        font-size: 1rem;
    }

    .course-card {
        float: left;
        margin-top: 4rem;
        width: 40%;
        margin-right: 10%;
        height: 300px;
        border-radius: 1rem;
        border: 1px solid #656770;
        margin-bottom: 1rem;
    }
}